/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
}

/* Navbar */
.navbar {
    background-color: #d390c4;
    box-shadow: 0 4px 10px rgba(204, 146, 195, 0.692);
}
.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
}
.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 15px;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-link:hover {
    color: #6a747c !important;
}

/* Home Section */
#home {
    background: linear-gradient(to right, #f3f1f5, #ebbfd5);
    
}
#home h1 {
    font-size: 3rem;
    color: #d390c4;
    font-weight: bold;
}
#home p {
    font-size: 1.5rem;
    color: #d390c4;
    margin-bottom: 20px;
}
#home .btn {
    background-color: #d390c4;
    color: #f8f9fa;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.3s;
}
#home .btn:hover {
    background-color: #858591;
}

/* About Section */
#about {
    background-color: #f8f9fa;
    padding: 60px 0;
}
#about h2 {
    padding-top: 30px;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 20px;
}
#about p {
    padding-top: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}
#about h5 {
    padding-top: 50px;
    font-size: 2.0rem;
    font-weight: bold;
    margin-bottom: 20px;
}

img{
    padding-top: 20px;
    padding-left: 10px;
}

/* Projects Section */
#projects {
    padding: 60px 0;
}
#projects h2 {
    padding-top: 150px;
    padding-bottom: 50px;
    font-size: 2.8rem;
    letter-spacing: 2px;
    font-weight: bold;
    margin-bottom: 20px;
}
#projects .card {
    padding: 40px 0px 40px 15px;
    background-color: #d390c4;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(199, 143, 194, 0.1);
    transition: transform 0.3s;
}
#projects .card:hover {
    transform: translateY(-20px);
}
#projects .card-title {
    font-weight: bold;
}


/* Contact Section */
#contact {
    background: #d390c4;
    }
#contact a{
    text-decoration: none;
}
#contact a i{
    padding-left: 60px;
    }


/* Responsive */
@media (max-width: 768px) {
    #home h1 {
        font-size: 2.5rem;
    }
    #home p {
        font-size: 1.2rem;
    }
}
